<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- MySQL -->
		<!-- <add name="TesteMySQL" 
			 connectionString="server=localhost;Database=serializacaonosql;Uid=root;Pwd=minhaSenha"/> -->

		<add name="TesteMySQL"
			 connectionString="server=localhost;Database=serializacaonosql;Uid=root;Pwd=fabio"/>

		<!-- MongoDB -->
		<add name="TesteMongoDB"
			 connectionString="mongodb://localhost:27017"/>

		<!-- SQL Express -->
		<add name="MySqlConnectionString"
            connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDBFilename=D:\Application\Data\Database.mdf"
			providerName="System.Data.SqlClient"/>

		<!-- MS SQL Server Express C-E1299 Alternativa -->
		<add name="SqlServerC_E1299Alternativa"
            connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=SerializacaoMSSQL;Integrated Security=True;TrustServerCertificate=True;"/>

		<!-- MS SQL Server Express C-E1299 Default -->
		<add name="SqlServerC_E1299Default"
            connectionString="Data Source=C-E1299;Initial Catalog=SerializacaoMSSQL;Integrated Security=True;TrustServerCertificate=True;"/>

	</connectionStrings>

</configuration>