<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- MySQL -->
		
		<add name="TesteMySQL" 
			 connectionString="server=localhost;Database=serializacaonosql;Uid=root;Pwd=minhaSenha"/>
		
		<!-- MongoDB -->
		<add name="TesteMongoDB" 
			 connectionString="mongodb://localhost:27017"/>
		
	</connectionStrings>


</configuration>